<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-IMNdhSSN9FXLEn5ybm4kGwdmAG8-2LA</string>
	<key>GCM_SENDER_ID</key>
	<string>491090270276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sukua.flutteraulas</string>
	<key>PROJECT_ID</key>
	<string>flutter-aula-3173f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-aula-3173f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491090270276:ios:53cdaa22fe04f3c9348411</string>
</dict>
</plist>